<div class="layout-topbar justify-between">
  <div class="flex">
    <a class="layout-topbar-logo" routerLink="">
      <img src="assets/layout/images/logo.svg" alt="Logo" height="20" class="mr-2"/>
      <span>NMA</span>
    </a>
    <div *ngFor="let menu of menus">
      <p-dropdown optionLabel="#" placeholder="{{ menu.title }}" dropdownIcon="null" [options]="menu.children">
        <ng-template let-option pTemplate="item">
          <div class="flex align-items-center gap-3" (click)="onRoute(option.path)">
            <div>{{ option.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>

  <div >
    <button class="p-link layout-topbar-button">
      <i class="pi pi-calendar"></i>
      <span>Calendar</span>
    </button>
    <button class="p-link layout-topbar-button">
      <i class="pi pi-user"></i>
      <span>Profile</span>
    </button>
    <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
      <i class="pi pi-cog"></i>
      <span>Settings</span>
    </button>
  </div>
</div>
